- Statistics: A way to get information from data.
- Descriptive Statistics:Deals with methods of organizing, summarizing, and presenting data in a convenient and informative way.

Measures of Central location
- Mean: $\mu=\frac{\sum\limits _{i=1} ^{N}x_{i}}{N}$
- Median: The median is calculated by placing all the observations in ascending or descending order.
- N is Odd: The observation that falls in the middle is the median. $(\frac{n+1}{2})^{th}$ item.
- N is Even: Median is determined by averaging the two observations in the middle, $\frac{(\frac{n}{2}) ^{th} +(\frac{n}{2}+1) ^{th} }{2}$ item.
- Mode: Observations that occurs with the greatest frequency.

In [1]:
import pandas as pd

In [2]:
s1=pd.Series([2,1,0,4,5])

In [4]:
#Mean
s1.sum()/len(s1)

2.4

In [5]:
s1.mean()

2.4

In [6]:
#Median - N is odd
s1.sort_values()

2    0
1    1
0    2
3    4
4    5
dtype: int64

In [7]:
(5+1)/2 #th item

3.0

In [8]:
# 2 is the median

In [9]:
s1.median()

2.0

In [11]:
#N is even
s2=pd.Series([1,5,7,3,0,2])

In [12]:
(6/2) #th item

3.0

In [ ]:
(6/2 +1) #th item

In [13]:
s2.sort_values()

4    0
0    1
5    2
3    3
1    5
2    7
dtype: int64

In [14]:
(2+3)/2

2.5

In [15]:
s2.median()

2.5

In [16]:
#Mode
s3=pd.Series([3,2,2,1,0])

In [17]:
s3.mode() #Unimodel

0    2
dtype: int64

In [18]:
df=pd.read_excel('data.xlsx',sheet_name='Amount')
df.shape

(350, 1)

In [19]:
df.head()

   Fr & Veg
0       625
1       354
2       577
3       570
4       664

In [20]:
#Average amount spent on Fruits and Vegatables
df.mean()

Fr & Veg    519.2
dtype: float64

In [21]:
#Median
df.median() #Half of the families are spending <=523

Fr & Veg    523.0
dtype: float64

In [22]:
#Mode
df.mode()

   Fr & Veg
0       459
1       492
2       511
3       544
4       584
5       606

In [25]:
df['Fr & Veg'].value_counts().head(6)

511    4
459    4
492    4
584    4
606    4
544    4
Name: Fr & Veg, dtype: int64

Measures of Variability/Dispersion
- Variance : How far each observation is from mean. These differences from the mean are called deviations.
- The average squared deviation from the mean is called the variance. $\sigma ^{2}=\frac{\sum\limits _{i=1} ^{N}(x_{i}-\mu) ^{2}}{N}$ 
- Range : Largest obs-Smallest obs

In [26]:
#Variance
df.var()

Fr & Veg    15054.26361
dtype: float64

In [27]:
df.std()

Fr & Veg    122.695817
dtype: float64

In [28]:
deals=pd.read_excel('data.xlsx',sheet_name='Sales')
deals

  Deal     SP1     SP2     SP3
0   D1  150000  105000   65000
1   D2   25000  110000   50000
2   D3  300000  130000   70000
3   D4   48000  110000  150000
4   D5   55000  123000  243000

In [29]:
#Which sales person is more consistent
deals.drop('Deal',axis=1).sum() 
#axis=0 look for the value horizontally/rows
#axis=1 look for the value vertically/columns

SP1    578000
SP2    578000
SP3    578000
dtype: int64

In [31]:
deals.drop('Deal',axis=1).std()

SP1    113619.100507
SP2     10454.664031
SP3     81174.503386
dtype: float64

In [33]:
deals.drop('Deal',axis=1).mean()

SP1    115600.0
SP2    115600.0
SP3    115600.0
dtype: float64

In [32]:
#Range
df.max()-df.min()

Fr & Veg    678
dtype: int64

In [34]:
#Quartiles - 25% - 50% - 75%
df.quantile(0.25) # Q1 - lower quartile

Fr & Veg    444.75
Name: 0.25, dtype: float64

In [35]:
df.quantile(0.5)

Fr & Veg    523.0
Name: 0.5, dtype: float64

In [36]:
df.quantile(0.75) # Q3 - upper quartile

Fr & Veg    603.5
Name: 0.75, dtype: float64

In [37]:
df.quantile()

Fr & Veg    523.0
Name: 0.5, dtype: float64

In [39]:
#Deciles - 10%, 20% ... 100%
import numpy as np
np.arange(0.1,1.1,0.1) # In python end point is exclusive

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [ ]:
df.quantile(np.arange(0.1,1.1,0.1))

In [41]:
#30% of families have spent <=466 on Fr & Veg

The distance from the lower quartile to the upper quartile is known as the interquartile range (IQR).

In [42]:
df.quantile(0.75) -df.quantile(0.25)

Fr & Veg    158.75
dtype: float64

In [ ]:
#If mean=median=mode then the data is said to be normally distributed. (Symmetric)

Empirical Rule
- Approximately 68% of all observations fall within one standard deviation of the mean. (mean+-1std)
- Approximately 95% of all observations fall within two standard deviations of the mean. (mean+-2std)
- Approximately 99.7% of all observations fall within three standard deviations of the mean. (mean+-3std)

In [ ]:
#If Mean > Median then data is positively skewed.
#If Mean < Median then data is negatively skewed.

In [46]:
df['Fr & Veg'].skew()

-0.04477204149790183

Basics of Probability
- Random Experiment: An action that leads to one of several possible outcomes.Ex: Tossing a coin, Covid Test
- Event: An event is the outcome of an experience. Ex: Head
- Trail: Each time a random experiment is conducted, it is called a trial.
- Sample Space: A list of all possible outcomes of an experiment. Ex: {H,T} , {+ve,-ve}

Probability: How likely is that an event can occur. Let's A is an event.
- P(A) = Favorable number of events/total number of events.
- Let A be an event Then 0<=P(A)<=1.

Random Variable: A rule that assigns a number to each outcome of an experiment. Ex: 1 head or 1 tail, 2 heads

In [47]:
#1. Probability of choosing vowels from alphabets? S={a,e,i,o,u}
5/26

0.19230769230769232

In [48]:
#p(a)=1/26
#p(o)=1/26

In [49]:
#2. Three unbiased coins are tossed then chances of seeing exactly two heads?
# S={HHH,HHT,HTH,THH,HTT,THT,TTH,TTT} --> Total number of events =8
3/8

0.375

In [50]:
#P(x>=2)
4/8

0.5

Discrete and Continuous Random Variable
- Discrete Random Variable: Which takes countable number of values. Ex: #Customers in a queue, #Products added to cart
- Continuous Random Variable: Whose values are uncountable. Ex: Amount of time to complete a task

In [51]:
#S={1,3,4,0} #Countable
#S=[0,1] #interval - uncountable - infinite

- Joint prob: Intersection of Event A and B is the event that occurs when both A and B occurs.
- The probability of complementary event A' of A is given by P(A')=1-P(A)
- If A and B are any two events and are not disjoint, then P(AUB) = P(A)+P(B)-P(A and B)
- Multiplication theorem: If A and B are independent events then P(A and B)=P(A).P(B)
- Marginal probabilities, computed by adding across rows or down columns, are so named because they are calculated in the margins of the table.

Conditional Probability:

- The probability of event A given that event B has already occured is $P(A|B)=\frac{P(A\cap B)}{P(B)}$
- Independent Events: $P(A|B)=P(A)$

In [52]:
#a.He has lung disease given that he is a smoker.
#P(A)=0.15 P(B)=0.31 P(A and B)=0.12 
0.12/0.31 #0.39 chance that a person will have lung disease if he is a smoker.

0.3870967741935484

In [53]:
#b.He has lung disease given that he does not smoke.
#P(C)=0.69
0.03/0.69 #4% chance taht a person will have lung disease if he is not a smoker.

0.043478260869565216